{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="page-background">

    <div class="page-header">
        <h1>ORDER CONFIRMED</h1>
        <i class="fa-solid fa-check"></i>
    </div>

    <div class="page-container">

        <div class="page-content">
            <p class="campaign-text mt-5">
                Thank you for your order!
            </p>

            <p class="campaign-text">
                Your payment has been processed successfully.
            </p>

            <p class="campaign-text">
                <strong>Order details and your coffee reward QR code have been sent to your email.</strong>
            </p>

            <p class="campaign-text">
                You will be redirected to the homepage in a few seconds.
            </p>    
        </div>       
       
        <div class="summary-costs">

            <h1 class="campaign-header">ORDER SUMMARY</h1> 
            
            <div class="summary-list">

                {% for item in order.lineitems.all %}

                <div class="summary-item">

                    <div class="summary-item-image">
                        <img src="{{ item.product_image.url }}" alt="{{ item.product_name }}">
                    </div>

                    <div class="summary-item-name">
                        <p>{{ item.product_name|upper }}</p>
                        <span>250 g</span>
                    </div>    
                    
                    <div class="summary-item-quantity">
                        Qty: {{ item.quantity }}
                    </div>

                    <div class="summary-item-price">
                        £{{ item.lineitem_total|floatformat:2 }}
                    </div>                    

                </div>

                {% endfor %}

                <div class="summary-row mt-4">                    
                    <span>Subtotal</span>
                    <span>£{{ order.order_total|floatformat:2 }}</span>
                </div>

                <div class="summary-row">
                    <span>Shipping</span>                

                    {% if order.delivery_cost == 0 %}
                        <span>FREE</span>
                    {% else %}
                        <span>{{ order.delivery_cost|floatformat:2 }}</span>
                    {% endif %}
                </div> 

                <div class="divider-horizontal"></div>

                <div class="summary-row summary-total mt-4 mb-4">                    
                    <span><strong>TOTAL</strong></span>
                    <span><strong>£{{ order.grand_total|floatformat:2 }}</strong></span>
                </div>
            </div>            
        </div>            
    </div>
</div>

{% endblock %}

