{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- <div class="page-background">
    <div class="products-container">

        {% for product in products %}

            <div class="product-card">

                <div class="product-image">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img src="{% static 'images/default-product.jpg' %}" alt="{{ product.name }}">
                    {% endif %}
                </div>

                <div class="product-info">

                    <p class="product-title mb-3">
                        {{ product.name|upper }}
                    </p>

                    <p class="product-subtitle mb-3">
                        {{ product.subtitle }}
                    </p>

                    <p class="product-price">
                        £{{ product.price }}
                    </p>

                    <p class="product-description">
                        {{ product.description}}
                    </p>                    
                    
                    <a href="{% url 'add_to_cart' product.id %}" class="button button-primary button-fixed">
                        <i class="fa-solid fa-cart-shopping"></i>
                        ADD TO CART
                    </a>
                </div>

            </div>

        {% endfor %}

    </div>
</div> -->

PRODUCTS

{% endblock %}